@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        @{ 
            /* This is C style */
            //This is C++ syntax
            
            string company = "Transflower";
            <h1 id="title">@company</h1>

        }
        <p class="lead">Online Shopping Portal.</p>
        <a href="/Product/Index">Products</a>
        
    </section>

    
</main>