
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        @{
            /* This is C style */
            //This is C++ syntax

            string company = "Transflower";
            <h1 id="title">@company</h1>

        }
        <p class="lead">Online Shopping Portal.</p>
    </section>

    <div class="row">
        <ol>
            @{
               
             foreach (Catalog.Product p in @Model)
             {
                     <li>
                         <img src="@p.ImageUrl" width="100" height="100" />
                     </li>
             }
                
            }
        </ol>
    </div>
</main>